@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */ 

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
      )
      rgb(var(--background-end-rgb))
}



@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.btn-disabled {
  @apply bg-gray-600 text-white py-2 px-4 rounded transition-all;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 transition-all;
}


/* Custom colors classes */

.bg-rojo {
  background-color: #ff0000;
}

.bg-azul {
  background-color: #0000ff;
}

.bg-verde {
  background-color: #008f39;
}

.bg-rosa {
  background-color: #ea899a;
}

.bg-amarillo {
  background-color: #ffea00;
}

.bg-arcoiris {
  background-image: url('/imgs/rainbow-bg.jpg');
  background-size: cover;
  background-position: center; /* Esto asegura que la imagen esté centrada */
}

.bg-animal-print {
  background-image: url('/imgs/animal-print-bg.jpg');
  background-size: cover;
  background-position: center; /* Esto asegura que la imagen esté centrada */
}

.bg-fucsia {
  background-color: #ff0080;
}

.bg-beige {
  background-color: #eae6ca;
}

.bg-amarillo-fluo {
  background-color: #ccff00;
}

.bg-naranja {
  background-color: #ff8c00;
}

.bg-bordo {
  background-color: #800000;
}

.bg-violeta {
  background-color: #8a2be2;
}

.bg-naranja-fluo {
  background-color: #ff6700;
}

.bg-celeste {
  background-color: #00aaff;
}

.bg-ups {
  background-image: url('/imgs/ups-bg.jpg');
  background-size: cover;
  background-position: center;
  background-color: white;
}

.bg-dhl {
  background-image: url('/imgs/dhl-bg.jpg');
  background-size: cover;
  background-position: center;
}

.bg-fedex {
  background-image: url('/imgs/fedex-bg.jpg');
  background-size: cover;
  background-position: center;
}

.bg-correo-argentino {
  background-image: url('/imgs/correo-argentino-bg.jpg');
  background-size: cover;
  background-position: center;
}

.bg-oca {
  background-image: url('/imgs/oca-bg.jpg');
  background-size: cover;
  background-position: center;
}

.bg-andreani {
  background-image: url('/imgs/andreani-bg.jpg');
  background-size: cover;
  background-position: center;
}

